h1 {
    text-align: center;
    color: blue;
}

.foodLi {
    color: green;
}

.header1GreenYellos {
    color: greenyellow
}

#mountainImage {
    float: right;
}

#imageHeader1 {
    text-align: center;
    color: aquamarine;
    font-family: "Apple SD Gothic Neo", serif;
    font-size: x-large;
}

.header2SizeColor {
    font-size: xx-large;
    background-color: black;
    color: darkcyan;
    text-align: end;
}
.divDosVerde {
    background-color: firebrick;
}

#di1 {
    color: #32b216;
    border: double;
}

#di2 {
    color: #b3d4fc;
    font-size: x-large;
    border: dashed;
}

ul li {
    color: green;
}

#rgbid {
    color: rgb(10,22,44);
    font-size: xx-large;
}

.blueback {
    background-color: lightblue;
}

.yellowback {
    background-color: yellow;
}
